@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Stardos+Stencil&display=swap');
:root{
    --bgcol:#191919;
    --txtcol:#FFD369;
    --txtcol2:#ee9f50;

}
body{
    background-color: var(--bgcol);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
#myclock{
    width: 100%;
    height: 100%;
    display: block;
margin-top: 10%;
   
    text-align: center;
}
h1{
    color: var(--txtcol);
    font-size: 5rem;
    font-family: 'Stardos Stencil', cursive;
    letter-spacing: 10px;
}
h2,h3,h4{
    color: var(--txtcol2);
}
h2{
   padding: 5rem 0 0;
   margin-bottom: 0;
   font-size: 2rem;
}
h3{
    padding-bottom: 20px;
    line-height: 2;
    border-bottom: 1px dotted var(--txtcol2);
}

@media  (max-width:800px) {
    h1{
        letter-spacing: 5px;
        font-size: 4rem;
    }
}